{% extends 'mainapp/base.html' %}
{% load static %}
{% block js %}
	<script src="{% static 'jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'basket_script.js' %}" defer></script>
{% endblock %}
	{% block header %}
	<div class="header-cont">
	{% endblock %}
		{% block menu %}
		<div class="menu">
			{% include 'mainapp/include/inc_menu_gray.html' %}
			<hr class="gray">
			<div class="pull"></div>
		</div>
		{% endblock %}
	</div>
		{% block content %}
		<div class="basket_container">
			<div class="h2 text-center head">
				Ваша корзина, {% if user.first_name %}
					{{ user.first_name|title }}
				{% else %}
					Пользователь
				{% endif %}
			</div>
		</div>
		<div class="basket_list">
        {% include 'basketapp/includes/inc_basket_list.html' %}
			<button class="mt-4 my_button">
				<a href="{% url 'order:order_create' %}">Создать заказ</a>
			</button>
		</div>
		{% endblock %}
