{% for item in object_list %}
<div class="basket_record">
    <img src="/media/{{ item.product.image }}" width="120" height="160" alt="product">
    <p class="category_name">{{ item.product.category.name }}</p>
    <p class="product_name">{{ item.product.name }}</p>
    <p class="product_price">${{ item.product.get_price }}</p>
    <input type="number" name="{{ item.pk }}" min="0" value="{{ item.quantity }}">
    <p class="product_cost">${{ item.product_cost }}</p>
    <button class="btn btn-round">
        <a href="{% url 'basket:remove' item.pk %}" class="">удалить</a>
    </button>
</div>
{% endfor %}

{% if object_list %}
<div class="basket_summary">
    В корзине <strong>{{ object_list.0.total_quantity }}
    {% if object_list.0.total_quantity == 1 %} товар
    {% elif object_list.0.total_quantity > 1 and object_list.0.total_quantity < 5 %} товара
    {% else %} товаров {% endif %}</strong> общей стоимостью <strong>${{ object_list.0.total_cost }}</strong>
</div>
{% endif %}