<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    {% endblock %}
    
</head>
<body>
	<div class="container">
        <div class="login">
            <div class="h2 text-center head">
                Аутентификация
            </div>            
            
            {% block content %}

            {% endblock %}
        </div>
	</div>
</body>
</html>