{% extends 'mainapp/base.html' %}
{% load static %}
	{% block header %}
	<div class="header-cont">
	{% endblock %}
		{% block menu %}
		<div class="menu">
			{% include 'mainapp/include/inc_menu_gray.html' %}
			<hr class="gray">
			<div class="pull"></div>
		</div>
		{% endblock %}
	{% block content %}
	<div class="gallery">
		<p class="gallery-head">Our Gallery</p>
		<div class="gallery-container">
			{% include 'mainapp/include/inc_gallery-box.html' %}
		</div>
		<div class="gallery-link">
<!--			<a href="#">Show more games ></a>-->
			{% if products.has_next %}
			<a href="{% url 'page' products.next_page_number %}">Show more games ></a>
			{% else %}
			<a href="{% url 'page' products.previous_page_number %}">Show prev games</a>
			{% endif %}
		</div>		
	</div>
	<div class="poster">
		{% for item in disc_products %}
		<div class="poster_left">
			<div class="poster-text">
				<p class="text_1">Discount</p>
				<a href="{% url 'discount' item.pk %}"><p class="text_2">{{ item.name }}</p></a>
				<p class="text_3">${{ item.disc_price }}<span>/</span><span id="price_1">${{ item.price }}</span></p>
				<a href="{% url 'basket:add' item.pk %}"><button>Buy</button></a>
			</div>
		</div>
		{% endfor %}
<!--		<div class="poster_right">-->
<!--			<div class="poster-text-right">-->
<!--				<p class="text_1">Discount</p>-->
<!--				<a href="{% url 'discount' disc_products.1.pk %}"><p class="text_2">{{ disc_products.1.name}}</p>-->
<!--				<p class="text_3">${{ discount_price1 }}<span>/</span><span id="price_2">${{ disc_products.1.price}}</span></p>-->
<!--				<a href="{% url 'basket:add' disc_products.1.pk %}"><button>Buy</button></a>-->
<!--			</div>-->
<!--		</div>-->
	</div>
	{% endblock %}
	